.sidebar{
    background-color: $color-primary;
    grid-row: 1/-1;
    grid-column: sidebar-start / sidebar-end;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    
    @media only screen and (max-width:$width-1000) {
        grid-column:1/-1;
        grid-row:1/2;
        flex-direction: row-reverse;
    }
}
.nav__button{
    margin-top:4rem;
    border-radius: 0;
    outline:none;
    border:none;
    width:5rem;
    height:.3rem;
    position:relative;
    background-color: white;

    @media only screen and (max-width:$width-1000) {
        margin-top:0rem;
        margin-right:3rem;
    }

    &::after,
    &::before{
        
        content:'';
        display:block;
        width:5rem;
        height:.3rem;
        background-color: white;
        
        position: absolute;
        top:0;
        left:0;

    }
    &::before{
        
        transform:translateY(-1.2rem);
    }
    &::after{
        transform:translateY(1.2rem);
    }
}